<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.erp.warehouse.mapper.InventoryHistoryMapper">

    <resultMap id="inventoryHistoryVoMap" type="com.ruoyi.erp.warehouse.domain.vo.InventoryHistoryVo">
        <association property="sku" javaType="com.ruoyi.erp.basic.domain.vo.SkuVo">
            <id property="id" column="sku_id"/> <!-- 映射 sku 的 id -->
        </association>
        <association property="goods" javaType="com.ruoyi.erp.basic.domain.vo.GoodsVo">
            <id property="id" column="goods_id"/> <!-- 映射 goods 的 id -->
        </association>
    </resultMap>

    <select id="selectVoPageByBo" resultMap="inventoryHistoryVoMap">
        select
        history.*,
        sku.id as sku_id,
        sku.*,
        goods.id as goods_id,
        goods.*
        from wms_inventory_history history
        left join basic_sku sku on history.sku_id=sku.id
        left join basic_goods goods on sku.goods_id=goods.id
        <where>
            <if test="bo.optType != null">
                history.opt_type=#{bo.optType}
            </if>
            <if test="bo.optNo != null and bo.optNo != ''">
                and history.opt_no=#{bo.optNo}
            </if>
            <if test="bo.goodsName != null and bo.goodsName != ''">
                and goods.goods_name like concat('%', #{bo.goodsName}, '%')
            </if>
            <if test="bo.goodsNo != null and bo.goodsNo != ''">
                and goods.goods_no like concat('%', #{bo.goodsNo}, '%')
            </if>
            <if test="bo.skuName != null and bo.skuName != ''">
                and sku.sku_name like concat('%', #{bo.skuName}, '%')
            </if>
            <if test="bo.skuNo != null and bo.skuNo != ''">
                and sku.sku_no like concat('%', #{bo.skuNo}, '%')
            </if>
            <if test="bo.warehouseId != null">
                and history.warehouse_id=#{bo.warehouseId}
            </if>
            <if test="bo.startTime != null and bo.startTime != '' and bo.endTime != null and bo.endTime != ''">
                and (history.create_time between #{bo.startTime} and #{bo.endTime})
            </if>
        </where>
        order by history.create_time desc
    </select>
</mapper>
